*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(./image/good-weather-background-sunny-day-24231670.jpg);

}

.container{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
img{
    width: 150px;
}

.enlem {
    display: flex;
    margin: 10px;
}

.input{
    margin: 5px;
}
.derece{
    display: flex;
    margin: 10px;
}
.deger{
    margin-left: 5px;
}